<div class="card w-100 h-100">
    <div class="card-header">
        <h5 class="card-title">
            Reporte de Llamadas

        </h5>
        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#tab1">Tabla de Datos</a>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <div class="tab-pane active" id="tab1" >
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-12">
                                <label style="display: inline-block;">Inicio</label>
                            <input id="fecha_inirp" title="Fecha" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label style="display: inline-block;">Fin</label>
                            <input id="fecha_finrp" title="Fecha" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 lf">
                            Tipo Llamada:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input id="ddlTipoLlamada" class="" style="width: 100%;" />
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div style="text-align:right;" class="col-12 mt-2 mb-4">
                            <button type="button" class="btn btn-sm btn-primary w-100" onclick="get_Grid_llamadasRealizadas();">Generar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12">
                    @*<button type="button" id="btn_agrgarDelictivos" class="btn btn-primary w-100" onclick="Ingresar_DDLEventoZonaDelictiva();">Agregar</button>*@
                    <div id="Grid_llamadasRealizadas"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    
   
    



<script id="template_llamadasRealizadas" type="text/x-kendo-template">
    <button type="button" class="k-grid-excel k-button k-button-md k-rounded-md k-button-solid k-button-solid-base"><span class="k-icon k-i-file-excel k-button-icon"></span><span class="k-button-text">Exportar a Excel</span></button>
    <button type="button" class="k-grid-pdf k-button k-button-md k-rounded-md k-button-solid k-button-solid-base"><span class="k-icon k-i-file-pdf k-button-icon"></span><span class="k-button-text">Exportar a PDF</span></button>
    <span class="k-spacer"></span>
    <span class="k-searchbox k-input k-input-md k-rounded-md k-input-solid k-grid-search">
        <span class="k-input-icon k-icon k-i-search"></span><input autocomplete="off" placeholder="Buscar..." title="Search..." class="k-input-inner" />
    </span>
</script>

<script type="text/javascript">

    function get_Grid_llamadasRealizadas() {
        kendo.ui.progress($("[id='Grid_llamadasRealizadas']"), true);
        var arg = {
            companyid: $.main.companyid,
            BD: $.main.BD,
            userid: $.main.userid,
            fini: moment($("#fecha_inirp").val()).format("YYYYMMDD HH:mm:ss"),
            ffin: moment($("#fecha_finrp").val()).format("YYYYMMDD HH:mm:ss"),
            tipoLlamada: $("#ddlTipoLlamada").data("kendoDropDownList").value()
        };
        $.post("rpLlamadasRealizadas/GetLlamadasRealizadas", arg, function (d) {
            //Convirtiendo a tipo DateTime en js para que sepuedan hacer bien los filtros de lo contrario mostraria error
             for (var i = 0, len = d.length; i < len; i++) {
                d[i]["fechageneracion"] = moment(d[i]["fechageneracion"])._d;
             }
            create_Grid_llamadasRealizadas(d);
            if (!d.length) {
                Swal.fire('No hay datos que mostrar!', '', 'warning')
            }
        }).always(function () {
            kendo.ui.progress($("[id='Grid_llamadasRealizadas']"), false);
        });
    }


    var Grid_llamadasRealizadas_dataitem = [];
    function create_Grid_llamadasRealizadas(datos) {
        $("[id='Grid_llamadasRealizadas']").html("");
        $("[id='Grid_llamadasRealizadas']").kendoGrid({
            mobile: true,
            //toolbar: ["excel", "pdf", "search"],
            toolbar: [
                { template: kendo.template($("[id='template_llamadasRealizadas']").html()) }
            ],
            pdf: {
                allPages: true,
                avoidLinks: true,
                paperSize: "A4",
                landscape: true,
                repeatHeaders: true,
                margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                scale: 0.8,
                fileName: "llamadasRealizadas_" + moment("YYYYMMDD_HHmmss") + ".pdf"
            },
            excel: {
                fileName: "llamadasRealizadas_" + moment("YYYYMMDD_HHmmss") + ".xlsx",
                filterable: true,
                allPages: true
            },
            pdfExport: function (e) {
                e.preventDefault();
            },
            dataSource: {
                pageSize: 50,
                schema: {
                    model: {
                        fields: {
                            usuario: { type: "string" },
                            fechageneracion: { type: "date" },
                            nombre_user: { type: "string" },
                            apellido_user: { type: "string" },
                            tipoevento: { type: "string" },
                            estadochequeo: { type: "string" },
                            tipollamada: { type: "string" },
                            llamada: { type: "string" },
                            comentario: { type: "string" },
                            mobileid: { type: "number" },
                            vehiculo: { type: "string" },
                            placa: { type: "string" },
                        }
                    }
                }
            },
            filterable: {
                extra: false
            },
            filterable: false,
            height: 450,
            sortable: true,
            groupable: false,
            columnMenu: false,
            reorderable: true,
            resizable: true,
            scrollable: true,
            pageable: {
                allPages: true,
                pageSizes: true,
                previousNext: true,
                input: false,
                numeric: false,
                refresh: false,
                info: true
            },
            selectable: "single, row",
            change: function (e) {
                Grid_llamadasRealizadas_dataitem = e !== null ? e.sender.dataItem(e.sender.select()) : null;
            },
            dataBound: function () {
                var data = [];
                var grid = this;
                var dataSource = grid.dataSource;
                var allData = dataSource.data();
                var filters = dataSource.filter();
                var query = new kendo.data.Query(allData);
                data = query.filter(filters).data;

                $("[id='Grid_llamadasRealizadas'] .k-grid-content tbody tr:not(.k-grouping-row)").dblclick(function (e) {
                    if (!$(e.target).is(":input")) {
                        var ds = Grid_llamadasRealizadas_dataitem;

                    }
                });

            },
            columns:
                [
                    {
                        field: "usuario",
                        title: "Usuario",
                        width: 120
                    },
                    {
                        field: "fechageneracion",
                        title: "Fecha Generado",
                        format: "{0:yyyy-MM-dd HH:mm:ss}",
                        width: 180
                    },
                    {
                        field: "placa",
                        title: "Placa",
                        width: 150
                    },
                    {
                        field: "vehiculo",
                        title: "Vehículo",
                        width: 150
                    },
                    {
                        field: "nombre_user",
                        title: "Nombre de Usuario",
                        width: 150
                    },
                    {
                        vehiculo: "apellido_user",
                        title: "Apellido Usuario",
                        width: 200
                    },
                    {
                        field: "tipoevento",
                        title: "Tipo de Evento",
                        width: 120
                    },
                    {
                        field: "estadochequeo",
                        title: "Estado Chequeo",
                        width: 150
                    },
                    {
                        field: "tipollamada",
                        title: "Tipo Llamada",
                        width: 150
                    },
                    {
                        field: "llamada",
                        title: "Llamada",
                        width: 180
                    },
                    {
                        field: "comentario",
                        title: "Comentario",
                        width: 500
                    },
                ]
        });
        $("[id='Grid_llamadasRealizadas']").data("kendoGrid").dataSource.data(datos);
    }
    create_Grid_llamadasRealizadas([]);

    function crearFechas() {
        $("#fecha_inirp").kendoDateTimePicker({
            value: moment().startOf('year')._d,
            dateInput: true,
            format: "yyyy/MM/dd HH:mm:ss"
        });
        $("#fecha_finrp").kendoDateTimePicker({
            value: moment().endOf('year')._d,
            dateInput: true,
            format: "yyyy/MM/dd HH:mm:ss"
        });
    }
    crearFechas();

    $.extend({
        rpLlamada: {
            id_ddlTipoLlamada: "ddlTipoLlamada",
            get_create_tipoLlamada: function () {
                var $this = this;
                var arg = {
                    companyid: $.main.companyid,
                    BD: $.main.BD,
                    userid: $.main.userid
                };

                var data = [{ id: 0, nombre: "Chequeo" }, { id: 1, nombre: "Llamada" }]

                $("#" + $this.id_ddlTipoLlamada).kendoDropDownList({
                    filter: "contains",
                    dataTextField: "nombre",
                    dataValueField: "id",
                    dataSource: data,
                    index: 0,
                });
            }
        }
    });

    $.rpLlamada.get_create_tipoLlamada();
</script>

