
@{
    Layout = null;
}

<style type="text/css">
    #mapaConfigDelictivo {
        width: 100%;
        height: 200px;
        border-radius: 0.5em;
    }
</style>
<div id="mapaConfigDelictivo">

</div>
<script type="text/javascript">
    $.extend({
        mapa_delictivo: {
            idmap: "mapaConfigDelictivo",
            map: null,
            center: { lat: 13.698046622, lng: -89.209458191 },
            init: function() {
                var _this = this;
                _this.fn_initialize();
            },
            map_types: {
                CommunityTilesBaseUrl: ["https://worldtiles2.waze.com/tiles/"],
                CommunityMapName: ["CommunityEstandard"],
                CommunityOpcEstandar: null,
                CommunityEstandar: null,
                CommunityMapsType: function () {
                    var _this = this;
                    _this.CommunityOpcEstandar = { getTileUrl: function (coord, zoom) { var tilesPerGlobe = 1 << zoom; var x = coord.x % tilesPerGlobe; if (x < 0) { x = tilesPerGlobe + x; } return _this.CommunityTilesBaseUrl[0] + zoom + "/" + x + "/" + coord.y + ".png"; }, tileSize: new google.maps.Size(256, 256), isPng: true, maxZoom: 21, name: _this.CommunityMapName[0] };
                    _this.CommunityEstandar = new google.maps.ImageMapType(_this.CommunityOpcEstandar);
                }
            },
            fn_initialize: () => {
                var _this = $.mapa_delictivo;
                _this.map_types.CommunityMapsType();
                _this.map = new google.maps.Map(document.getElementById(_this.idmap), {
                    zoom: 17,
                    panControl: false,
                    scaleControl: false,
                    mapTypeControl: false,
                    streetViewControl: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    fullscreenControl: false,
                    mapTypeControlOptions: {
                        mapTypeIds: [google.maps.MapTypeId.ROADMAP,
                        google.maps.MapTypeId.HYBRID,
                        google.maps.MapTypeId.SATELLITE,
                        google.maps.MapTypeId.TERRAIN],
                        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
                    },
                    zoomControl: false,
                    zoomControlOptions: { style: google.maps.ZoomControlStyle.SMALL },
                    gestureHandling: 'greedy',
                    center: _this.center
                });
                _this.map.addListener("click", function(e) {
                    if (MKubicacion !== null) {
                        MKubicacion.setPosition(new google.maps.LatLng({ lat: e.latLng.lat(), lng: e.latLng.lng() }));
                    }
                 });
                /*if ($("#ubicacion").is(":checked")) {

                }*/
                _this.map.mapTypes.set('CommunityEstandar', _this.map_types.CommunityEstandar);
                _this.map.setMapTypeId('CommunityEstandar');
            },
        }
    });
    (() => $.mapa_delictivo.init())();
</script>