<script src="~/js/home_index.js"></script>
<div class="plus-btn-pos">
    <div class="plus-btn">
        <div class="r1"></div>
        <div class="r2"></div>
    </div>
</div>
<div class="content" id="div_contenido"></div>
<div class="menu-container">
    <div class="menu-sliders"></div>
    <div class="menu-sliders"></div>
    <div class="menu-sliders"></div>
    <div class="menu" id="mp_menu">
        @*
            <ul>
                <li class="active">
                    <a>Mapa</a>
                </li>
                <li>
                    <a>Reporte Zona delictiva</a>
                </li>
                <li class="menubottom">
                    <a>Reporte Pagos Realizados</a>
                </li>
                <li>
                    <a>Reporte Llamadas</a>
                </li>
            </ul>
        
        *@
    </div>
</div>